div#snake-body{
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 300px;
}

body{
    border: 1px solid black;
    height: 670px;
}