@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 140, 255);
    color: white;
}

h1{
    text-align: center;
}

form#caixa-principal{
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    margin: auto;
    color: black;
    padding: 10px;
}

form > input{
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 10px;
}
