@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 140, 255);
}

h1{
    text-align: center;
    color: white;
}

section#caixa-principal{
    background-color: white;
    width: 500px;
    border-radius: 5px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 10px;
    color: white;
}

select#flista{
    width: 150px;
}

div{
    padding: 10px;
}